Package: com.burritoz.kai
Name: Kai
Version: 1.5.1
Architecture: iphoneos-arm
Description: Device battery indicators on your lock screen!
Maintainer: ren7995
Author: ren7995
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, ws.hbang.common (>=1.14)
Icon: https://chariz.com/cdn/icon/kai/icon@3x.png
Depiction: https://repo.chariz.com/package/com.burritoz.kai/
SileoDepiction: https://repo.chariz.com/api/sileo/package/com.burritoz.kai/depiction.json
