<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>KaiHeaderCell</string>
			<key>height</key>
			<integer>175</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>disableGlyphs</string>
			<key>label</key>
			<string>Hide Device Glyphs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>hidePercent</string>
			<key>label</key>
			<string>Hide Percent Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Height (80)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>80</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>20</real>
			<key>max</key>
			<real>200</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>bannerHeight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Spacing (5)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>5</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>100</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>spacing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Glyph Size (40)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>40</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>10</real>
			<key>max</key>
			<real>100</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>glyphSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Corner Radius (13)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>13</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>100</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>cornerRadius</string>
		</dict>
	</array>
	<key>title</key>
	<string>kai</string>
</dict>
</plist>
