<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>KaiHeaderCell</string>
			<key>height</key>
			<integer>175</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>showAll</string>
			<key>label</key>
			<string>Show all devices</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>disableGlyphs</string>
			<key>label</key>
			<string>Hide Device Glyphs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>hidePercent</string>
			<key>label</key>
			<string>Hide Percent Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>hideDeviceLabel</string>
			<key>label</key>
			<string>Hide Device Name Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Style</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.burritoz.kaiprefs</string>
            <key>default</key>
            <string>1</string>
            <key>key</key>
            <string>bannerStyle</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Automatic</string>
                <string>Dark</string>
                <string>Light</string>
            </array>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Alignment</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.burritoz.kaiprefs</string>
            <key>default</key>
            <string>2</string>
            <key>key</key>
            <string>bannerAlign</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Left</string>
                <string>Center</string>
                <string>Right</string>
            </array>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>belowMusic</string>
			<key>label</key>
			<string>Show kai Below Music</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Height (80)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>80</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>20</real>
			<key>max</key>
			<real>400</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>bannerHeight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Width Adjustment (0)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>0</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>-400</real>
			<key>max</key>
			<real>400</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>bannerWidthFactor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Spacing (5)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>5</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>-100.0</real>
			<key>max</key>
			<real>300</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>spacing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Horizontal Axis Manual Offset (0)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>0</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>-300.0</real>
			<key>max</key>
			<real>300</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>horizontalOffset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Glyph Size (30)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>30</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>10</real>
			<key>max</key>
			<real>60</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>glyphSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Corner Radius (13)</string>
		</dict>
		<dict>
			<key>default</key>
			<real>13</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>100</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.kaiprefs</string>
			<key>key</key>
			<string>cornerRadius</string>
		</dict>
	</array>
	<key>title</key>
	<string>kai</string>
</dict>
</plist>
